<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인</h1>
<div th:replace="fragments/layout.html :: fragment-body-menu"></div>

<div>
    <th:block th:if="${signupSuccess}">
        <script>
            alert("회원가입이 완료되었습니다.");
        </script>
    </th:block>
</div>


<form method="post">
    <div>
        <input type="email" name="userId" placeholder="아이디(이메일) 입력" required />
    </div>
    <div>
        <input type="password" name="password" placeholder="비밀번호 입력" required />
    </div>
    <div>
        <button> 로그인 </button>
    </div>
</form>

    <div>
        <a href="/user/find_password">비밀번호 찾기</a>
    </div>

</body>
</html>