<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>minimart</title>
</head>
<body>

    <div th:fragment="fragment-body-menu">
        <div>
            <a href="/user/signup"> 회원 가입 </a>
            |
            <a href="/user/info"> 회원 정보 </a>
            |
            <a href="/user/"> 상품 목록 </a>
            |
            <a href="/user/login"> 로그인 </a>
            |
            <a href="/user/logout"> 로그아웃 </a>
            |
            <a href="/order/seller/main"> 판매자 페이지 </a>
            |
            <a href="/"> 홈으로 </a>
        </div>
        <hr/>
    </div>


    <div th:fragment="fragment-seller-body-menu">
        <a href="/order/seller/main"> 판매자 메인 </a>
        |
        <a href="/order/seller/product/add"> 상품 등록 </a>
        |
        <a href="/order/seller/product/my_list"> 나의 판매 내역 </a>
        |
        <a href="/order/common/*"> 상품 검색 </a>
        |
        <a href="/user/logout"> 로그아웃 </a>
        <dr/>
        <hr/>
    </div>

</body>
</html>